$main-font: "Ubuntu", sans-serif;
$blue-color: #287bff;
$white-color: #fff;
$grey-color: #f5f5f5;
$black1-color: #222;
$black2-color: #999;

@mixin linkBeforeShadow {
  box-shadow: 25px 25px $white-color;
  -webkit-box-shadow: 25px 25px $white-color;
}

@mixin linkAfterShadow {
  box-shadow: 25px -25px $white-color;
  -webkit-box-shadow: 25px -25px $white-color;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: $blue-color;
  border-left: 10px solid $blue-color;
  transition: 0.5s;
  overflow: hidden;

  &.active {
    width: 80px;
  }
}

.navigation ul {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;

  &:hover,
  &.hovered {
    background: $white-color;

    a {
      color: $blue-color;

      &::before {
        content: "";
        position: absolute;
        right: 0;
        top: -50px;
        height: 50px;
        width: 50px;
        border-radius: 50px;
        background: transparent;
        pointer-events: none;
        @include linkBeforeShadow();
      }

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -50px;
        height: 50px;
        width: 50px;
        border-radius: 50px;
        background: $blue-color;
        pointer-events: none;
        @include linkAfterShadow();
      }
    }
  }

  &:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
  }
}

.navigation ul li a {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $white-color;

  .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;

    ion-icon {
      font-size: 1.75em;
    }
  }

  .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
  }
}

// MAIN
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: $white-color;
  transition: 0.5s;

  &.active {
    width: calc(100% - 80px);
    left: 80px;
  }
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  cursor: pointer;
}

.search {
  position: relative;
  width: 400px;
  margin: 0 10px;

  label {
    position: relative;
    width: 100%;

    input {
      width: 100%;
      height: 40px;
      border-radius: 40px;
      padding: 5px 20px 5px 35px;
      font-size: 18px;
      outline: none;
      border: 1px solid $black2-color;
    }

    ion-icon {
      position: absolute;
      top: -1px;
      left: 10px;
      font-size: 1.2em;
    }
  }
}

.user {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.card {
  position: relative;
  background: $white-color;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  transition: all 0.5s ease-in-out;

  &:hover {
    background: $blue-color;

    .numbers,
    .cardName,
    .iconBx {
      color: $white-color;
    }
  }

  .numbers {
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: $blue-color;
  }

  .cardName {
    color: $black2-color;
    font-size: 1.1em;
    margin-top: 5px;
  }

  .iconBx {
    font-size: 3.5em;
    color: $black2-color;
  }
}

h2 {
  font-weight: 600;
  color: $blue-color;
}

// Charts
.graphBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 30px;
  min-height: 200px;

  .box {
    position: relative;
    background: $white-color;
    padding: 20px;
    width: 100%;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
  }
}

.details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  // margin-top: 10px;

  .recentOrders {
    position: relative;
    display: grid;
    min-height: 500px;
    background: $white-color;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;

    .cardHeader {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .btn {
        position: relative;
        padding: 5px 10px;
        background: $blue-color;
        text-decoration: none;
        color: $white-color;
        border-radius: 6px;
      }
    }
  }
}

.details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;

  tr td {
    padding: 10px;

    &:nth-child(even) {
      text-align: end;
    }

    &:nth-child(3) {
      text-align: center;
    }
  }

  thead {
    font-weight: 600;
  }

  tbody tr {
    color: $black1-color;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background: $blue-color;
      color: $white-color;
    }
  }
}

.status.delivered {
  padding: 2px 4px;
  background: #60b400;
  color: $white-color;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.status.pending {
  padding: 2px 4px;
  background: #f9ca3f;
  color: $white-color;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.status.return {
  padding: 2px 4px;
  background: #f00;
  color: $white-color;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.status.inprogress {
  padding: 2px 4px;
  background: #1795ce;
  color: $white-color;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.recentCustomers {
  position: relative;
  display: grid;
  min-height: 500px;
  padding: 20px;
  background: $white-color;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;

  .imgBx {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

.recentCustomers table tr:hover {
  background: $white-color;
  color: $blue-color;

  td h4 span {
    color: $white-color;
  }
}

.recentCustomers table tr td {
  padding: 12px 10px;

  &:last-child {
    text-align: left;
  }

  h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;

    span {
      font-size: 14px;
      color: $black2-color;
    }
  }
}

// MEDIA QUERIS
@media (max-width: 991px) {
  .navigation {
    left: -300px;

    &.active {
      width: 300px;
      left: 0;
    }
  }

  .main {
    width: 100%;
    left: 0;

    &.active {
      left: 300px;
    }
  }

  .graphBox {
    grid-template-columns: 1fr;
    height: auto;
  }

  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: repeat(1, 1fr);

    .recentOrders {
      overflow: auto;
    }
  }

  .status.inprogress {
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }

  h2 {
    font-size: 20px;
  }

  .user {
    min-width: 40px;
  }

  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;

    &.active {
      width: 100%;
      left: 0;
    }
  }

  .toggle {
    z-index: 1001;
  }

  .main.active .toggle {
    position: fixed;
    left: initial;
    top: 0;
    color: $white-color;
  }
}
